{% extends 'recept/loyout.html' %}

{% block title %}
    Рецепты
{% endblock %}

{% block header %}
    <div class="active">
        <ul>
            <a href="{% url 'index' %}"><link><i class="fas fa-home"> Главная</i></a><br>
        </ul>
    </div>
    <h1>{{ dish.dish_name }}</h1>
{% endblock %}

{% block content %}
    <div class="aside-content">
        <a id="button-recept" href="{% url 'newdish' %}" class="btn btn-warning">Новый рецепт</a>
    </div>
    <div class="main">
        {% if ingredients %}
            <div class="recept-list">
                <form class="count-per" method="get">
                    <label for="per"><b>Выберите количество порций:</b></label>
                    <input class="form-control" type="number" id="per" name="per">
                    <button class="btn btn-success" type="submit">Расчитать</button>
                </form>
            </div>
            <div class="recept-list">
                <h5>Состав:</h5>
                <div class="list">
                    <ul>
                        {% for el in ingredients %}
                            <li>{{ el.ingredient_name }} - {{ el.count }}{{ el.measure }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="recept-list">
                <h3>У вас еще не добавлено ни одного рецепта</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}